.modify-modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.modify-modal .modify-modal-container {
    margin-right: 5%;
    background-color: white;
    width: 32rem;
}

.modify-modal .titleCloseBtn {
    display: flex;
    justify-content: space-between;
    background-color: #e5faf5;
    /* box-shadow: 1px 1px 3px 3px #e6e6e6; */
    padding: 2%;
  }
  
  .modify-modal .titleCloseBtn p {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
  }
  
  .modify-modal .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }