.buy-style {
    border: none;
    background-color: #00d09c;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    border-radius: 5px;
    margin: 3% 6% 4% 6%;
    width: 88%;
    padding: 2.5% 0;
    cursor: pointer;
  }
  
  .buy-style:hover {
    transform: scale(1.02);
  }
  
  .sell-style {
    border: 2px solid #00d09c;
    color: #00d09c;
    background-color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    border-radius: 5px;
    margin: 3% 6% 4% 6%;
    width: 88%;
    padding: 2% 0;
  }
  
  .sell-style:hover {
    transform: scale(1.02);
  }