.watchlist-page {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.watchlist-page .stock-data-area {
    margin-top: 3%;
    width: 60%;
}

.watchlist-page .buy-sell-form-area {
    padding-top: 4%;
    width: 35%;
}

.watchlist-page .buy-sell-form-wrapper {
    position: fixed; 
    width: 24%;
}

.watchlist-page .no-watchlist {
    box-shadow: 1px 1px 3px 3px #e6e6e6;
    padding: 3%;
    margin-top: 2%;
    font-size: 1.5rem;
}

.watchlist-page .select-tab {
    padding: 0.7% 0 0.7% 1.5%;
    width: 50%;
    margin: auto;
    font-size: 1.5rem;
    border-radius: 5px;
    background-color: #e5faf5;
    border-color: #00bdb1;
}

.watchlist-page .select-tab:focus {
    outline: none;
}   