.asset-table .table-heading {
    display: flex;
    flex-direction: row;
    background-color: #e6e6e6;
    font-size: 14px;
    color: #44475b;
    width: 100%;
}

.asset-table .average-price, .asset-table .quantity, .asset-table .total, .asset-table .watchlist {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0;
}

.asset-table .company-name {
    display: flex;
    align-items: center;
    padding: 3% 0;
    padding-left: 4%;
    width: 30%;
}

.asset-table .average-price {
    width: 19%;
}

.asset-table .quantity {
    width: 9%;
}   

.asset-table .total {
    width: 25%;
}

.asset-table .watchlist {
    width: 17%;
}

.asset-table .no-asset {
    padding: 4%;
    text-align: center;
    color: #7c7e8c;
    font-weight: 700;
    font-size: 1.2rem;
}