/* Top by Market Cap - NIFTY-50 */
.home-page .heading {
  padding: 4% 0;
  display: flex;
  justify-content: start;
}
.top-heading {
  font-weight: 400;
  font-size: 2rem;
  padding-right: 1%;
}
.nifty {
  color: gray;
  padding-top: 2%;
}

.home-page .table {
  box-shadow: 1px 1px 3px 3px #e6e6e6;
}

.home-page .table-heading {
  display: flex;
  flex-direction: row;
  background-color: #e6e6e6;
  font-size: 14px;
  color: #44475b;
  width: 100%;
}

.home-page .company {
  display: flex;
  align-items: center;
  width: 30%;
  padding: 2% 1.5%;
  padding-left: 3%;
}

.home-page .market-price {
  width: 25%;
  padding: 2% 1.5%;
}

.home-page .buy {
  width: 15%;
  padding: 2% 1.5%;
  text-align: center;
}

.home-page .sell {
  width: 15%;
  padding: 2% 1.5%;
  text-align: center;
}

.home-page .watchlist {
  width: 15%;
  padding: 2% 1.5%;
  text-align: center;
}

.company-data .loading-error {
    text-align: center;
    font-size: 1.5rem;
    padding: 5% 0;
}
