.home-page {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stock-data-area {
    width: 45%;
}

.right-side {
    padding-top: 5%;
    padding-right: 5%;
}

