.investment-detail {
  flex: 0 1 auto;
}

.investment-detail .investment-detail-top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.investment-detail .top-card {
  width: 46%;
  padding: 3% 2%;
  margin: 3% 1.5%;
  box-shadow: 1px 1px 3px 3px #e6e6e6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.investment-detail .top-card-value {
    color: #00d09c;
    font-weight: 700;
}

.investment-detail .profit {
    color: #00d09c;
}

.investment-detail .loss {
    color: #E34234;
}