.investment-detail {
  flex: 0 1 auto;
}

.investment-detail .investment-detail-top {
  display: flex;
  flex-direction: row;
}

.investment-detail .top-card {
  width: 30.33%;
  padding: 3% 1.5%;
  margin: 3% 1.5%;
  box-shadow: 1px 1px 3px 3px #e6e6e6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.investment-detail .top-card-value {
    color: #00d09c;
    font-weight: 700;
}

.investment-detail .investment-detail-bottom {
  display: flex;
  flex-direction: row;
}

.investment-detail .wallet-balance {
  width: 47.33%;
  padding: 3% 1.5%;
  margin: 3% 1.5%;
  box-shadow: 1px 1px 3px 3px #e6e6e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.investment-detail .wallet-balance-amount {
    font-weight: 700;
    color: #00d09c;
}