.watchlist-page .company-data {
  box-shadow: 1px 1px 3px 3px #e6e6e6;
  margin-top: 5%;
}

.watchlist-page .heading {
    padding: 2.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.watchlist-page  .top-heading {
    font-weight: 700;
    font-size: 1.7rem;
    padding-right: 1%;
  }
  
  .watchlist-page .table-heading {
    display: flex;
    flex-direction: row;
    background-color: #e6e6e6;
    font-size: 14px;
    color: #44475b;
    width: 100%;
  }
  
  .watchlist-page .company {
    display: flex;
    align-items: center;
    width: 30%;
    padding: 2% 1.5%;
    padding-left: 3%;
  }
  
  .watchlist-page .market-price {
    width: 25%;
    padding: 2% 1.5%;
  }
  
  .watchlist-page .buy {
    width: 15%;
    padding: 2% 1.5%;
    text-align: center;
  }
  
  .watchlist-page .sell {
    width: 15%;
    padding: 2% 1.5%;
    text-align: center;
  }
  
  .watchlist-page .remove {
    width: 15%;
    padding: 2% 1.5%;
    text-align: center;
  }
  
  .watchlist-page .no-data {
      text-align: center;
      font-size: 1.5rem;
      padding: 4% 0;
  }

  .rename-delete {
    display: flex;
    justify-content: space-between;
    width: 11rem;
  }

  .watchlist-page .watchlist-rename-button {
    background-color: #00d09c;
    border: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 5px;
    padding: 4%;
    cursor: pointer;
  }

  .watchlist-page .watchlist-rename-button:hover {
    transform: scale(1.03);
  }

  .watchlist-page .watchlist-delete-button {
    background-color: #e34234;
    border: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 5px;
    padding: 4%;
    cursor: pointer;
  }

  .watchlist-page .watchlist-delete-button:hover {
    transform: scale(1.03);
  }

  .watchlist-page .watchlist-rename-container {
    display: flex;
    justify-content: space-between;
    width: 65%;
  }

  .watchlist-page .watchlist-rename-input {
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    color: #00d09c;
    background-color: #e5faf5;
    font-weight: 700;
  }

  .watchlist-page .watchlist-rename-input:focus {
    outline: none;
  }