.stock-data-area .company-row {
  display: flex;
  flex-direction: row;
  font-size: 15px;
}

.stock-data-area .company-row:hover {
  background-color: #e5faf5;
}

.stock-data-area .change-pos {
  padding-top: 1%;
  font-size: 13px;
  color: #00d09c;
}

.stock-data-area .change-neg {
  padding-top: 1%;
  font-size: 13px;
  color: red;
}

.stock-data-area .watchlist-button {
  transition: 0.7s;
}

.stock-data-area .watchlist-button:hover {
  transform: scale(1.2);
}
