.watchlist-page .company-row {
    display: flex;
    flex-direction: row;
    font-size: 15px;
  }
  
  .watchlist-page .company-row:hover {
    background-color: #e5faf5;
  }
  
  .watchlist-page .change-pos {
    padding-top: 1%;
    font-size: 13px;
    color: #00d09c;
  }
  
  .watchlist-page .change-neg {
    padding-top: 1%;
    font-size: 13px;
    color: red;
  }